<main class="main-container">
    <div class="hero-content">
        <div class="page-subtitle">
            <span> Staff Assignment</span>
            <span class="page-subtitle__status">{{assignStaffData.total}} Assign Staff</span>
        </div><!-- /.page-subtitle -->
        <div class="filter-tag clearfix">
            <span class="d-inline-block">
                <a (click)="openAssignStaffModal(assignStaff)" class="btn btn-add-green" title="Add Project"><i
                        class="fa fa-plus"></i></a>
            </span>
            <div class="filter-tag__wrapper">
                <span class="filter-tag__label">Viewing </span>
                <a class="btn filter-tag__item" *ngIf="viewDataByFilter.status"
                   (click)="model.status = null;onProjectTeamFilterSubmit(undefined);">{{viewDataByFilter.status['STATUS_NAME']}}<i
                        class="icon-filter-remove"></i></a>
                <a class="btn filter-tag__item" *ngIf="viewDataByFilter.role"
                   (click)="model.role = null;onProjectTeamFilterSubmit(undefined);">{{viewDataByFilter.role['ROLE_NAME']}}<i
                        class="icon-filter-remove"></i></a>
                <a class="btn filter-tag__item" *ngIf="viewDataByFilter.office"
                   (click)="model.office = null;onProjectTeamFilterSubmit(undefined);">{{viewDataByFilter.office['OFFICE_NAME']}}<i
                        class="icon-filter-remove"></i></a>
                <a class="btn filter-tag__item"
                   *ngIf="viewDataByFilter.status || viewDataByFilter.role"
                   (click)="onClearProjectTeamFilter()">Reset of All <i
                        class="icon-filter-remove"></i></a>
            </div>
            <div class="filter-tag__wrapper" *ngIf="displayProjectType !=null">
                <a class="btn filter-tag__item"
                   (click)="displayProjectType = null;getAllStaffAssignDetails();">{{displayProjectType}}<i
                        class="icon-filter-remove"></i></a>
            </div>

            <div class="filter__right">
                <div class="custom-dropdown align-middle">
                    <kendo-dropdownbutton class="" [popupSettings]="{popupClass: popupClass}"
                                          [data]="columnListGrouping" (itemClick)="onGroupByColumnSelect($event)">
                        Group
                    </kendo-dropdownbutton>
                </div>
                <div class="search-wrap">
                    <div class="search-wrap__inner">
                        <kendo-autocomplete [data]="typeAheadSuggestions"
                                            [filterable]="true"
                                            (valueChange)="getListByValueChange($event)"
                                            (filterChange)="getListByFilterChange($event)"
                                            [placeholder]="'Search'"
                                            id="search"
                                            class="form-control"
                                            [ngModel]="filterValue">
                        </kendo-autocomplete>

                    </div>
                </div><!-- /.search-wrap-->

                <div class="filter__btn">
                    <div class="dropdown">
                        <button class="btn btn-light-gray is-filtered" type="button" id="dropdownFilter"
                                data-toggle="dropdown" (click)="filterMenuOpen = true" aria-haspopup="true"
                                aria-expanded="false" data-offset="0,20">
                            <i class="icon-filter"></i>
                        </button>
                        <div [hidden]="!filterMenuOpen" [ngClass]="filterMenuOpen ? 'show':''"
                             class=" dropdown-menu--white dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownFilter">
                            <form name="form" #projectFilterForm="ngForm">
                                <div class="form-group">
                                    <label for="status">Project Status</label>
                                    <kendo-dropdownlist
                                            [data]="filterProjectStatusData"
                                            [textField]="'STATUS_NAME'"
                                            [valueField]="'STATUS_NAME'"
                                            [filterable]="true"
                                            name="status"
                                            id="status"
                                            class="form-control form-control--gray"
                                            #status="ngModel"
                                            [(ngModel)]="model.status"
                                            (filterChange)="handleFilterChange($event, 'STATUS')">
                                    </kendo-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <label for="status">Office</label>
                                    <kendo-dropdownlist
                                            [data]="filteredOfficeList"
                                            [textField]="'OFFICE_NAME'"
                                            [valueField]="'OFFICE_ID'"
                                            [filterable]="true"
                                            name="office"
                                            id="assProjectCity"
                                            class="form-control form-control--gray"
                                            #office="ngModel"
                                            placeholder="select office.."
                                            [(ngModel)]="model.office"
                                            (filterChange)="handleFilterChange($event, 'OFFICE')">
                                    </kendo-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <label for="group">Project Role</label>
                                    <kendo-dropdownlist
                                            [data]="filterProjectRoleData"
                                            [textField]="'ROLE_NAME'"
                                            [valueField]="'ROLE_NAME'"
                                            [filterable]="true"
                                            name="role"
                                            id="role"
                                            class="form-control form-control--gray"
                                            #role="ngModel"
                                            [(ngModel)]="model.role"
                                            (filterChange)="handleFilterChange($event, 'ROLE')">
                                    </kendo-dropdownlist>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-blue w-50 mr-1" title="Apply"
                                            (click)="onProjectTeamFilterSubmit('removeSearch')">Apply
                                    </button>
                                    <button class="btn btn-light-gray w-50 ml-1" title="Clear All"
                                            (click)="onClearProjectTeamFilter()">Clear All
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div><!-- /.filter__right -->
        </div><!-- /.filter-tag -->
        <div class="table-responsive">
            <table class="table table--default td-overflow-visible">
                <kendo-grid
                        [data]="assignStaffData"
                        [loading]="showLoader"
                        [sortable]="true"
                        [selectable]="true"
                        [sort]="config.sort"
                        [navigable]="true"
                        (dataStateChange)="dataStateChange($event)"
                        [resizable]="true"
                        class="word-wrap position-static">
                    <ng-template kendoGridToolbarTemplate>
                        <button kendoGridPDFCommand class="btn btn-light-gray"><i class="icon-download"></i></button>
                        <button kendoGridExcelCommand class="btn btn-light-gray" type="button"><i
                                class="icon-excel"></i></button>
                    </ng-template>
                    <ng-template kendoGridNoRecordsTemplate>
                        <span *ngIf="!showLoader"> No records available. </span>
                    </ng-template>
                    <kendo-grid-column width="100">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                            <div class="dropdown-project-modify">
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownProject1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" data-offset="-20,15">
                                        <i class="icon-three-dot"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--white" aria-labelledby="dropdownProject1">
                                        <ul class="staff-modify__list">

                                            <li class="project-team-modify__item">
                                                <a (click)="openVerticallyCenteredAssignProject(assignContent,dataItem)"
                                                   title="Project Team: Assign or Edit Staff on Project">
                                                    Assign Project<span class="text-label">Assign or Edit Staff on Project</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                            field="{{column.columnId}}"
                            title="{{column.columnLabel}}"
                            *ngFor="let column of allColumns">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'STAFF_NAME'">
                            <button type="button" *ngIf="dataItem.STAFF_NAME" class="btn btn-link btn-popover-link"
                                    container="body" placement="right-top"
                                    (click)="openVerticallyCenteredStaff(staffContent,dataItem)"
                            >
                                {{dataItem.STAFF_NAME}}
                            </button>
                            <span *ngIf="!dataItem.STAFF_NAME" class="unassigned-staff">
                (Unassigned)
                </span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'PROJECT_NAME'">
                            <button type="button" class="btn btn-link btn-popover-link"
                                    (click)="openVerticallyCenteredProject(content,dataItem,4)" container="body"
                                    placement="right-top" appHandlePopoverClose>
                                <span class="td-highlighted"> {{dataItem[column.columnId]}} </span>
                            </button>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'START_DATE' || column.columnId == 'END_DATE'">
                            <span> {{dataItem[column.columnId]| date: date_format}} </span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-pdf fileName="StaffAssignment.pdf" [scale]="0.8" [repeatHeaders]="true">
                        <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="StaffAssignment.xlsx" [fetchData]="allData"></kendo-grid-excel>
                </kendo-grid>

            </table>
        </div>

    </div>
</main>
<ng-template #content>
    <app-project-view-staff-detail-popover (childDeleteEvent)="childStaffCloseEvent($event)"
                                           [projectInstance]="selectedProject" [renderTable]="renderTable"
                                           [addForm]="tabStatus">
    </app-project-view-staff-detail-popover>
</ng-template>
<ng-template #staffContent>
    <app-staff-view-project-details-popover (childStaffCloseEvent)="childStaffCloseEvent($event)"
                                            [staffIdForEditStaff]="staffIdForEditStaff">
    </app-staff-view-project-details-popover>
</ng-template>
<ng-template #assignContent>
    <app-assign-staff-popover [model]="editDataItem"
                              (assignStaffChildCloseEvent)="childStaffCloseEvent($event)">
    </app-assign-staff-popover>
</ng-template>
<ng-template #assignStaff>
    <app-assign-staff-popover (assignStaffChildCloseEvent)="childStaffCloseEvent($event)" [addForm]=1>
    </app-assign-staff-popover>
</ng-template>
