node_modules
package-lock.json
notes.txt
log/*
public/dist/staff-planner
.DS_Store
.idea/
svc/env.local.json
.env
svc/test/config.ts
svc/env.json
*/config.ts

svc/env.json
*/env.json
env.json
*env.json
svc/env.json
../env.json

# IDE - VSCode
vscode/*
vscode/settings.json
vscode/tasks.json
vscode/launch.json
vscode/extensions.json
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
!.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vscode/settings.json
