<div class="header-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-xl navbar-light bg-white bg-transparent">
                    <a class="navbar-brand" routerLink="/home"><img [src]="staffPlanLogo" alt=""/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                                    routerLink="/home">Home </a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    [class.active]="pl.isActive || pt.isActive || qvp.isActive">Projects
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" routerLink="/project/view" routerLinkActive="active" #pl="routerLinkActive">
                                        <div>
                                            Project Log
                                            <div>
                                                View Project Details
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" routerLink="/projectStaffing" routerLinkActive="active" #pt="routerLinkActive">
                                        <div>
                                            Project Teams
                                            <div>
                                                View project teams for active and non-active projects
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" routerLink="/projectQuickViews" routerLinkActive="active" #qvp="routerLinkActive">
                                        <div>
                                            Quick Views
                                            <div>
                                                View Project or Assign Project Details
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    [class.active]="sl.isActive || sa.isActive || qvs.isActive">Staff
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" routerLink="/staff/view" routerLinkActive="active" #sl="routerLinkActive">
                                        <div>
                                            Staff Log
                                            <div>
                                                View Staff Details
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" routerLink="/staffAssignment" routerLinkActive="active" #sa="routerLinkActive">
                                        <div>
                                            Staff Assignment
                                            <div>
                                                Assign Staff
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" routerLink="/staffQuickViews" routerLinkActive="active" #qvs="routerLinkActive">
                                        <div>
                                            Quick Views
                                            <div>
                                                View Staff or Assign Staff Details
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    [class.active]="nd.isActive || st.isActive || ur.isActive"> QuickViews 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" routerLink="/futureDays" routerLinkActive="active" #nd="routerLinkActive">
                                        <div>
                                            Next 90 Days
                                            <div>
                                                Staff available in next 90 days
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" routerLink="/openRole" routerLinkActive="active" #ur="routerLinkActive">
                                        <div>
                                            Unassigned Roles
                                            <div>
                                                Open roles for assignment
                                            </div>
                                        </div>
                                    </a>

                                    <a class="dropdown-item" routerLink="/staffTimeline" routerLinkActive="active" #st="routerLinkActive">
                                        <div>
                                            Staff Timeline
                                            <div>
                                                Visual View of Staff Assignment over next 18 months
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li> -->
                            <li class="nav-item" *ngIf="userData && userData.ROLE_NAME == userRole[0]">
                                <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="form-inline my-2 my-xl-0 header-right-dropdown">
                        <li class="nav-item dropdown header-right-profile ">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"> 
                                <span class="avtar"><img src="../assets/common-images/profile-img.png" alt=""/> </span> 
                                <span class="text-responsive">{{userData.FIRST_NAME}} {{userData.LAST_NAME}}</span> 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" (click)="auth.logout()">Sign Out </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
