<div class="row" id="staffGrid">
    <div class="col-lg-12 p-3">
        <kendo-grid
            [data]="gridView"
            [loading]="showDetailsLoader"
             style="min-width: 500px; max-width: 1200px; max-height: 250px;height: auto"
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)"
            (remove)="removeHandler($event)"
            (add)="addHandler($event)"
            [navigable]="true"
            [resizable]="true"
            [sortable]="true"
            [sort]="sort"
            (sortChange)="sortChange($event)"
            >
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
            </ng-template>
            <kendo-grid-command-column title="" width="70">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-rowIndex="rowIndex" let-item = "dataItem">
                    <button kendoGridEditCommand class="active-color" [look]="'bare'">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button kendoButton *ngIf="!dialogOpened && !isNew && !formEditable && (rowIndex != editedRowIndex)" (click)="openDialogForDelete(item)" [look]="'bare'"><i class="fa fa-trash"></i></button>
                    <button kendoGridSaveCommand class="btn-custom">
                        <!--[disabled]="formGroup?.invalid"-->
                        <i class="fa fa-check"></i>
                    </button>
                    <button kendoGridCancelCommand >
                        <i class="fa fa-times"></i>
                    </button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column
                field="{{column.columnId}}"
                title="{{column.columnLabel}}"
                [width]="120"
                *ngFor="let column of staffDetailColumns">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'RESUME_SUBMITTED'">
                    <span *ngIf="dataItem.RESUME_SUBMITTED == '1'"> Yes</span>
                    <span *ngIf="dataItem.RESUME_SUBMITTED == '0'">No</span>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'PROJECT_NAME'">
                    <kendo-dropdownlist
                        [data]="filteredProjectsList"
                        [(ngModel)]="dataItem.PROJECT_NAME"
                        [textField]="'PROJECT_NAME'"
                        [valueField]="'filteredProjectsList'"
                        [valuePrimitive]="true"
                        [filterable]="true"
                        [required]="true"
                        *ngIf="addNewRecord "
                        (filterChange)="handleFilterChange($event, 'PROJECT_ID')"
                        (valueChange)="handleValueChange($event, 'PROJECT_ID')">
                    </kendo-dropdownlist>
                    <!--<kendo-dropdownlist [data]="projectList" [(ngModel)]="dataItem.PROJECT_NAME" (valueChange)="handleValueChange($event, 'PROJECT_NAME')"></kendo-dropdownlist>-->
                    <span *ngIf="!addNewRecord">
                        {{dataItem.PROJECT_NAME}}
                    </span>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'ROLE_NAME'">
                    <!--<kendo-dropdownlist [data]="rolesList" [(ngModel)]="dataItem.ROLE_NAME" (valueChange)="handleValueChange($event, 'ROLE_NAME')"></kendo-dropdownlist>-->
                    <kendo-dropdownlist
                        [data]="filteredRolesList"
                        [required]="true"
                        [textField]="'ROLE_NAME'"
                        [valueField]="'ROLE_ID'"

                        [(ngModel)]="model.ROLE"
                        *ngIf = "dataItem.COLUMN_EDITABLE != 2"
                        [filterable]="true"
                        (filterChange)="handleFilterChange($event, 'ROLE_ID')"
                        (valueChange)="handleValueChange($event, 'ROLE_ID')">
                    </kendo-dropdownlist>
                    <span *ngIf="dataItem.COLUMN_EDITABLE == 2">
                        {{dataItem.ROLE_NAME}}
                    </span>
                </ng-template>
                <!--                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'START_DATE' || column.columnId == 'END_DATE'">
                                            <span> {{dataItem[column.columnId] | date:'MM/dd/yyyy'}} </span>
                                        </ng-template>
                                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'START_DATE' || column.columnId == 'END_DATE'">
                                            <kendo-datepicker
                                                [(ngModel)]="dataItem[column.columnId]"
                                                (valueChange)="handleValueChange($event, column.columnId)"
                                                ></kendo-datepicker>
                                        </ng-template>-->
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'START_DATE' || column.columnId == 'END_DATE'">
                    <span> {{dataItem[column.columnId] | date: date_format}} </span>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'START_DATE'">
                    <kendo-datepicker
                        [(ngModel)]="dataItem.START_DATE"
                        [required]="true"
                        *ngIf = "dataItem.COLUMN_EDITABLE != 2"
                        (valueChange)="handleValueChange($event, column.columnId)"
                        [max] = "maxDate"></kendo-datepicker>
                    <span *ngIf="dataItem.COLUMN_EDITABLE == 2"> {{dataItem.START_DATE | date: date_format}} </span>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'END_DATE'">
                    <kendo-datepicker
                        [(ngModel)]="dataItem.END_DATE"
                        [required]="true"
                        *ngIf = "dataItem.COLUMN_EDITABLE == 2 || dataItem.COLUMN_EDITABLE == 1 || addNewRecord"
                        (valueChange)="handleValueChange($event, column.columnId)"
                        [min] = "minDate" ></kendo-datepicker>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'ALLOCATION'">
                    <kendo-numerictextbox  [required]="true" [(ngModel)]="dataItem.ALLOCATION"  *ngIf = "dataItem.COLUMN_EDITABLE != 2" [min]="0" [max]="100" [autoCorrect]="autoCorrect" (valueChange)="handleValueChange($event, column.columnId)">
                </kendo-numerictextbox>
                <span *ngIf="dataItem.COLUMN_EDITABLE == 2">
                    {{dataItem.ALLOCATION}}
                </span>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'CONFIRMED'">
                <div class="kendo-switch-wrapper">
                    <kendo-switch
                        [(ngModel)]="dataItem.CONFIRMED"
                        [required]="true"
                        [onLabel]="'Yes'"
                        [offLabel]="'No'"
                        *ngIf = "dataItem.COLUMN_EDITABLE != 2"
                        (valueChange)="handleValueChange($event, column.columnId)"
                        ></kendo-switch>
                </div>
                <span *ngIf="dataItem.COLUMN_EDITABLE == 2">
                    <span *ngIf="dataItem[column.columnId] == 1"> Yes </span>
                    <span *ngIf="dataItem[column.columnId] != 1"> No </span>
                </span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" *ngIf="column.columnId == 'CONFIRMED'">
                <span *ngIf="dataItem[column.columnId] == 1"> Yes </span>
                <span *ngIf="dataItem[column.columnId] != 1"> No </span>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
</div>