.current-project .col-lg-4,
.current-project .col-lg-3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.current-project .row > .col-lg-4:nth-child(-n+3) {
    margin-top: 0;
}

.current-project .los_text {
    margin-left: -5px;
}

.current-project .box1 {
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
}

.current-project .overlay-main .bg-white h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.current-project .box1 .big-text {
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    /* color: #000; */
    padding-left: 15px;
    display: block;
}

.current-project .box1 hr {
    margin-bottom: 10px;
}

.current-project .overlay-main {
    position: relative;
    width: 50%;
}

.current-project .overlay-main {
    display: block;
    width: 100%;
    height: auto;
}

.current-project .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgb(37, 75, 120, 0.92);
    cursor: pointer;
}

.current-project .overlay-main:hover .overlay {
    opacity: 1;
}

.current-project .text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    font-weight: 500;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.current-project .custom-pl10 {
    padding-left: 10px;
}

.current-project .box1 .more-btn {
    color: #848383;
    font-size: 12px;
    padding-top: 4px;
    padding-right: 0;
    padding-left: 5px;
}

.current-project .box1 .more-btn i {
    color: #848383;
    font-size: 10px;
}

.current-project .box1.custom-pt {
    padding-top: 15px;
}

.current-project .mtset {
    margin-top: 33px;
}

.border-red {
    border-top: 2px solid #ea4335;
}

.border-blue {
    border-top: 2px solid #4285f4;
}

.border-yellow {
    border-top: 2px solid #fbbc05;
}

.border-green {
    border-top: 2px solid #34a853;
}

.staff-quick-dropdown-list.k-popup {
    border-radius: 8px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0 -5px 10px 10px rgba(2,2,2,0.030);
    position: relative;
    overflow: hidden;
}
.staff-quick-dropdown-list > * {
    background-color: #FFFFFF !important;
}
.staff-quick-dropdown-list kendo-button-list {
    min-width: 155px;
    padding: 15px 20px;
}
.staff-quick-dropdown-list .k-list .k-item {
    font-size: 14px;
    font-weight: 400;
    color: #363636;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
.staff-quick-dropdown-list .k-list .k-item.k-state-selected {
    font-weight: 500;
    color: #FFFFFF;
}
.staff-quick-dropdown-list .k-list .k-item:hover {
    color: #254b78;
    background: none;
}
.staff-quick-dropdown-list .k-list .k-item:focus {
    box-shadow: none;
}

.home-location-search {
    display: inline-block;
    vertical-align: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 250px;
}

@media (max-width: 1500px) {

    .current-project .box1 {
        min-height: 110px;
    }

}

@media (max-width: 991px) {

    .current-project .box1 {
        min-height: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .current-project .mtset {
        margin-top: 10px;
    }
    .page-subtitle__status {
        margin-left: 0px;
    }
}

@media (max-width: 576px) {
    .home-location-search {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .staff-summary h2.page-subtitle {
        margin-top: 14px;
        margin-bottom: 19px;
    }
    .staff-summary .staff h2.page-subtitle {
        padding-top: 0px;
        margin-bottom: 21px;
    }
}