<div class="row">
    <div class="col-lg-11 offset-lg-1">
        <h3 class="page-subtitle p-0 pt-lg-4 pt-3">Create Role</h3>
        <form name="form" (ngSubmit)="comF.form.valid && onSubmit(comF)" #comF="ngForm" novalidate>
            <div class="form-group">
                <label for="roleName">Role Name</label>
                <input type="text" class="form-control" name="roleName" [(ngModel)]="model.ROLE_NAME"
                        #roleName="ngModel" [ngClass]="{ 'is-invalid': comF.submitted && roleName.invalid }"
                        required/>
                <div *ngIf="comF.submitted && roleName.invalid" class="invalid-feedback">
                    <div *ngIf="roleName.errors.required">Role Name is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="username">Access Types</label>
                        <button type="button" class="btn btn-link px-0 py-1 float-right"
                                (click)="openCombinationForm()">
                                <small class="font-weight-500"><i class="fa fa-plus"></i> Add Combination</small>
                        </button>
                        <kendo-dropdownlist
                                class="form-control"
                                [data]="filteredTypeCombination"
                                [textField]="'type'"
                                [valueField]="'id'"
                                required
                                name="COMBINATION"
                                #COMBINATION="ngModel"
                                [(ngModel)]="model.COMBINATION"
                                [ngClass]="{ 'is-invalid': comF.submitted && COMBINATION.invalid }">
                        </kendo-dropdownlist>
                        <div *ngIf="comF.submitted && COMBINATION.invalid" class="invalid-feedback">
                            <div *ngIf="COMBINATION.errors.required">Please select access type</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button class="btn btn-blue mt-3">Submit</button>
            </div>
        </form>
    </div>
</div>