<div class="project-panel project--assign-staff-panel" [ngClass]="staffIdForEditStaff ? 'is-open':''">
    <div class="col-lg-12 mt-5 pt-5 text-center" *ngIf="showDetailsLoader">
        <div class="py-5 my-5"></div>
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw active-color"></i>
        <span class="sr-only"></span>
    </div>
    <div class="" *ngIf="!showDetailsLoader">
        <button class="btn btn-close-panel js-close-panel" title="Close" (click)="onCancel()"><i
                class="fa fa-times"></i>
        </button>

        <div class="row mx-0">
            <div class="col-md-7">
                <form novalidate #editForm="ngForm">
                    <div class="project-panel__left">
                        <div class="title title-big">Assign Staff</div>
                        <div class="row">
                            <div class="col-lg-6 px-2">
                                <div class="form-group">
                                    <label for="assStaffName">Staff Name</label>
                                    <kendo-dropdownlist
                                            [data]="filteredStaffList"
                                            [textField]="'STAFF_NAME'"
                                            [valueField]="'STAFF_ID'"
                                            [filterable]="true"
                                            id="assStaffName"
                                            name="STAFF_DETAIL"
                                            class="form-control form-control--gray"
                                            #STAFF_DETAIL="ngModel"
                                            [(ngModel)]="assignStaffModel.STAFF_DETAIL"
                                            [attr.disabled]="fieldNotEditable && !model.ID || staffIdForEditStaff || staffNotEditable? true : null"
                                            (filterChange)="handleFilterChange($event, 'STAFF_ID')"
                                            (valueChange)="handleValueChange($event, 'STAFF_ID')">
                                    </kendo-dropdownlist>
                                    <div *ngIf="editForm.submitted && STAFF_DETAIL.invalid"
                                         class="form-invalid-message">
                                        <div *ngIf="STAFF_DETAIL.errors.required" class="k-text-error">
                                            Please select staff.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 px-2">
                                <div class="form-group">
                                    <label for="assProjectName">Project Name</label>
                                    <kendo-dropdownlist
                                            [data]="filteredProjectsList"
                                            [textField]="'PROJECT_NAME'"
                                            [valueField]="'PROJECT_ID'"
                                            [filterable]="true"
                                            name="PROJECT_DETAIL"
                                            required
                                            id="assProjectName"
                                            class="form-control form-control--gray"
                                            #PROJECT_DETAIL="ngModel"
                                            [(ngModel)]="assignStaffModel.PROJECT_DETAIL"
                                            [attr.disabled]="fieldNotEditable ? true : null"
                                            (filterChange)="handleFilterChange($event, 'PROJECT_ID')"
                                            (valueChange)="handleValueChange($event, 'PROJECT_ID')">
                                    </kendo-dropdownlist>
                                    <div *ngIf="editForm.submitted && PROJECT_DETAIL.invalid"
                                         class="form-invalid-message">
                                        <div *ngIf="PROJECT_DETAIL.errors.required" class="k-text-error">
                                            Please select project.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="assProjectRole">Project Role</label>
                            <kendo-dropdownlist
                                    [data]="filteredRolesList"
                                    [textField]="'ROLE_NAME'"
                                    [valueField]="'ROLE_ID'"
                                    [filterable]="true"
                                    name="ROLE_DETAIL"
                                    required
                                    id="assProjectRole"
                                    class="form-control form-control--gray"
                                    #ROLE_DETAIL="ngModel"
                                    [(ngModel)]="assignStaffModel.ROLE_DETAIL"
                                    (filterChange)="handleFilterChange($event, 'ROLE_ID')"
                                    (valueChange)="handleValueChange($event, 'ROLE_ID')"
                                    [attr.disabled]="columnEditable == 2 ? true : null"
                            >
                            </kendo-dropdownlist>
                            <div *ngIf="editForm.submitted && ROLE_DETAIL.invalid"
                                 class="form-invalid-message">
                                <div *ngIf="ROLE_DETAIL.errors.required" class="k-text-error">
                                    Please select role.
                                </div>
                            </div>
                        </div>
                        <div class="row mx-minus-2">
                            <div class="col-sm-6 px-2">
                                <div class="form-group is-date-field">
                                    <label for="assStartDate">{{assignStaffModel.START_DATE}}</label>
                                    <kendo-datepicker
                                            [(ngModel)]="assignStaffModel.START_DATE"
                                            required
                                            name="START_DATE"
                                            #START_DATE="ngModel"
                                            required
                                            id="assStartDate"
                                            class="form-control form-control--gray"
                                            [attr.disabled]="columnEditable == 2 ? true : null"
                                            (valueChange)="handleValueChange($event, 'START_DATE')"
                                    ></kendo-datepicker>
                                    <div *ngIf="editForm.submitted && START_DATE.invalid"
                                         class="form-invalid-message">
                                        <div *ngIf="START_DATE.errors.required" class="k-text-error"> Please
                                            Please select start date.
                                        </div>
                                        <div *ngIf="START_DATE.errors.dateMatch"
                                             class="k-text-error">
                                            {{dateValidationMsg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 px-2">
                                <div class="form-group is-date-field">
                                    <label for="assEndDate">End Date</label>
                                    <kendo-datepicker
                                            [(ngModel)]="assignStaffModel.END_DATE"
                                            required
                                            name="END_DATE"
                                            id="assEndDate"
                                            #END_DATE="ngModel"
                                            required
                                            class="form-control form-control--gray"
                                            (valueChange)="handleValueChange($event, 'END_DATE')"
                                    ></kendo-datepicker>
                                    <div *ngIf="editForm.submitted && END_DATE.invalid"
                                         class="form-invalid-message">
                                        <div *ngIf="END_DATE.errors.required" class="k-text-error"> Please
                                            Please select start date.
                                        </div>
                                        <div *ngIf="END_DATE.errors.dateMatch"
                                             class="k-text-error">
                                            {{dateValidationMsg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="assAllocation">Allocation</label>
                            <kendo-numerictextbox class="full-width" [min]="0" [max]="100" [autoCorrect]="autoCorrect"
                                                  [(ngModel)]="assignStaffModel.ALLOCATION"
                                                  required
                                                  name="ALLOCATION"
                                                  id="assAllocation"
                                                  class="form-control form-control--gray"
                                                  [attr.disabled]="columnEditable == 2 ? true : null"
                                                  #ALLOCATION="ngModel">
                            </kendo-numerictextbox>
                            <div *ngIf="editForm.submitted && ALLOCATION.invalid"
                                 class="form-invalid-message">
                                <div *ngIf="ALLOCATION.errors.required" class="k-text-error">
                                    Please enter allocation.
                                </div>
                            </div>
                        </div>

                        <div class="bb-1 pb-2 my-4"><!-- border Separator --></div>
                        <div *ngIf="selectedStaff !== null && selectedStaff.PROJECT_DATA.length > 0">
                            <div class="title mb-0"> {{selectedStaff.PREFERRED_NAME && selectedStaff.PREFERRED_NAME !== '' ? selectedStaff.PREFERRED_NAME : selectedStaff.FIRST_NAME + " " + selectedStaff.LAST_NAME}}'s
                                Current Assignment
                            </div>
                            <div class="row mx-0 bb-1 py-3 align-items-center"
                                 *ngFor="let project of selectedStaff.PROJECT_DATA">
                                <div class="col-xl-6 col-md-8 col-9 pl-0">
                                    <div class="font-size-16 mb-1 font-weight-500">{{project.PROJECT_NAME}} <span
                                            class="text-disable font-italic">({{project.STATUS_NAME}})</span></div>
                                    <div class="text-muted">From: {{project.START_DATE | date: date_format}} to
                                        {{project.END_DATE | date: date_format}}
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-3 pl-0">
                                    <circle-progress
                                            [percent]="project.ALLOCATION"
                                            [subtitle]="'Allocated'"
                                            [outerStrokeWidth]="3"
                                            [innerStrokeWidth]="3"
                                            [outerStrokeColor]="'#1b655e'"
                                            [innerStrokeColor]="'#cecece'"
                                            [subtitleColor]="'#5f6b7a'"
                                            [titleColor]="'#1b655e'"
                                            [space]=-3
                                            [animation]="true"
                                            [animationDuration]="100"
                                            [radius]="30"
                                            [titleFontSize]="14"
                                            [titleFormat]=""

                                    ></circle-progress>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="selectedProject !== null && selectedProject.STAFF_DATA.length">
                            <div class="title mb-4">
                                Team For {{selectedProject.PROJECT_NAME}}
                            </div>
                            <div class="row mx-0">
                                <div class="col-xl-6 px-0" *ngFor="let staff of selectedProject.STAFF_DATA">
                                    <div class="team-item">
                                        <div class="avatar">
                                            <span *ngIf="!staff.STAFF_ID || staff.STAFF_PHOTO == 'None' || staff.STAFF_PHOTO == null; else image">
                                            <img src="{{STATIC_IMAGE}}"/>
                                            </span>
                                            <ng-template #image>
                                                <img src="{{imagePath}}{{selectedProject.IMAGEPATH}}{{staff.STAFF_PHOTO}}"
                                                     (error)="errorHandler($event)"/>
                                            </ng-template>
                                        </div>
                                        <div class="info pr-2">
                                            <div class="font-size-16" *ngIf="staff.STAFF_ID; else unassigned">
                                                {{staff.STAFF_NAME}}
                                            </div>
                                            <div class="text-muted">{{staff.ROLE_NAME}}</div>
                                            <ng-template #unassigned>
                                                <div class="font-size-16">(Unassigned)</div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-md-right mt-4">
                            <button class="btn btn-blue mr-3" type="submit" (click)="onSave($event)" title="Save">Save
                            </button>
                            <button class="btn btn-blue-outline" (click)="onCancel()">Cancel</button>
                        </div>
                    </div><!-- /.project-panel__left -->
                </form>
            </div>

            <div class="col-md-5 project-panel__bg">
                <div class="project-panel__right available-staff"
                     *ngIf="addForm == 1 || model&& model.ID">
                    <div class="title mb-4">
                        Available Staff
                    </div>
                    <div>
                        <div class="search-wrap">
                            <div class="position-relative">
                                <input type="search" name="searchValueForAvailableStaff" class="form-control"
                                       placeholder="Search" id="assSearchStaff"
                                       (change)="searchAvailableStaff()"
                                       [(ngModel)]="searchValueForAvailableStaff"/>
                                <button class="btn-cancel-search" *ngIf="searchValueForAvailableStaff != null"
                                        title="Cancel"
                                        (click)="searchAvailableStaffCancel()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div><!-- /.search-wrap-->
                        <!--<div class="form-group is-search-field" *ngIf="assignStaffModel.PROJECT_DETAIL">-->
                        <!--<label for="assSearchStaff" class="sr-only">Search Staff</label>-->
                        <!--<input type="search" name="searchValueForAvailableStaff" class="form-control"-->
                        <!--placeholder="Search Staff" id="assSearchStaff"-->
                        <!--[(ngModel)]="searchValueForAvailableStaff"/>-->
                        <!--<button class="btn btn-blue" title="Search" (click)="searchAvailableStaff()"-->
                        <!--type="button">Search-->
                        <!--</button>-->

                        <!--</div>-->
                        <div class="row mx-0 mb-4 mt-3 mt-md-4"
                             *ngIf="availableStaff.length > 0;else noStaff">
                            <div class="col-sm-12 px-0" *ngFor="let staff of availableStaff">
                                <div class="team-item mb-4">
                                    <div class="avatar">
                                            <span *ngIf="!staff.STAFF_ID || staff.STAFF_PHOTO == 'None' || staff.STAFF_PHOTO == null; else image">
                                            <img src="{{STATIC_IMAGE}}"/>
                                            </span>
                                        <ng-template #image>
                                            <img src="{{imagePath}}{{staff.IMAGEPATH}}{{staff.STAFF_PHOTO}}"
                                                 (error)="errorHandler($event)"/>
                                        </ng-template>
                                    </div>
                                    <div class="info">
                                        <div class="font-size-16">{{staff.STAFF_NAME}}</div>
                                        <div class="text-muted">Allocated:{{staff.ALLOCATION}}%</div>
                                        <div class="text-muted">Available From:{{staff.START_DATE| date: date_format}}
                                            <span *ngIf="staff.END_DATE != null ">To: {{staff.END_DATE| date: date_format}}</span>
                                        </div>
                                        <button class="btn btn-blue btn-add js-staff-detail-panel"
                                                (click)="assignNewStaff(staff)" title="Assign">Assign
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #noStaff>
                            <span>No staff available</span>
                        </ng-template>
                    </div>

                </div><!-- /.project-panel__right -->
                <div class="project-panel__right available-staff" *ngIf="staffIdForEditStaff || model && !model.ID">
                    <div class="title mb-4">
                        Available Project
                    </div>
                    <div>
                        <div class="search-wrap">
                            <div class="position-relative">
                                <input type="search" name="searchValueForAvailableProject" class="form-control"
                                       placeholder="Search" id="assSearchProject"
                                       (change)="searchAvailableProject()"
                                       [(ngModel)]="searchValueForAvailableProject"/>
                                <button class="btn-cancel-search" *ngIf="searchValueForAvailableProject != null"
                                        title="Cancel"
                                        (click)="searchAvailableProjectRemove()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div><!-- /.search-wrap-->
                        <!--<div class="form-group is-search-field" *ngIf="assignStaffModel.PROJECT_DETAIL">-->
                        <!--<label for="assSearchStaff" class="sr-only">Search Staff</label>-->
                        <!--<input type="search" name="searchValueForAvailableStaff" class="form-control"-->
                        <!--placeholder="Search Staff" id="assSearchStaff"-->
                        <!--[(ngModel)]="searchValueForAvailableStaff"/>-->
                        <!--<button class="btn btn-blue" title="Search" (click)="searchAvailableStaff()"-->
                        <!--type="button">Search-->
                        <!--</button>-->

                        <!--</div>-->
                        <div class="row mx-0 mb-4 mt-3 mt-md-4"
                             *ngIf="availableProject.length > 0;else noProject">
                            <div class="col-sm-12 px-0" *ngFor="let project of availableProject">
                                <div class="team-item mb-4">
                                    <div class="info">
                                        <div class="font-size-16">{{project.PROJECT_NAME}}<br><span
                                                class="text-disable font-italic">({{project.STATUS_NAME}})</span></div>

                                        <div class="text-muted w-250">From: {{project.START_DATE | date: date_format}}
                                            to
                                            {{project.END_DATE | date: date_format}}
                                        </div>
                                        <div class="text-muted">Allocation:{{project.ALLOCATION}}%</div>
                                        <button class="btn btn-blue btn-add js-staff-detail-panel"
                                                (click)="assignNewProject(project)" title="Assign">Assign
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ng-template #noProject>
                        <span>No project available</span>
                    </ng-template>
                </div><!-- /.project-panel__right -->

            </div><!-- /.project-panel__bg -->
        </div><!-- /.row -->

    </div>
</div><!-- /.project--assign-staff-panel -->