.container--admin .form-control {
    border-color: #DDDDDD;
    color: #363636;
    height: 44px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}