<div class="row">
  <div class="col-lg-11 offset-lg-1">
    <h3 class="page-subtitle p-0">Create Custom Label</h3>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit(f)"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="table_name">Table Name</label>
        <kendo-dropdownlist
          class="form-control"
          [data]="filteredTableList"
          required
          name="table_name"
          #table_name="ngModel"
          [filterable]="true"
          [(ngModel)]="model.TABLE_NAME"
          [ngClass]="{ 'is-invalid': f.submitted && table_name.invalid }"
          (filterChange)="handleFilterChange($event, 'TABLE')"
          (valueChange)="handleValueChange($event, 'TABLE')"
        >
        </kendo-dropdownlist>
        <div *ngIf="f.submitted && table_name.invalid" class="invalid-feedback">
          <div *ngIf="table_name.errors.required">Please select table name</div>
        </div>
      </div>
      <div class="form-group">
        <label for="field_name">Field Name</label>
        <kendo-dropdownlist
          class="form-control"
          [data]="filteredFieldList"
          required
          name="field_name"
          #field_name="ngModel"
          [filterable]="true"
          [(ngModel)]="model.FIELD_NAME"
          [ngClass]="{ 'is-invalid': f.submitted && field_name.invalid }"
          (filterChange)="handleFilterChange($event, 'FIELD')"
        >
        </kendo-dropdownlist>
        <div *ngIf="f.submitted && field_name.invalid" class="invalid-feedback">
          <div *ngIf="field_name.errors.required">Please select field name</div>
        </div>
      </div>
      <div class="form-group">
        <label for="custom_field">Label Name</label>
        <input
          type="text"
          class="form-control"
          name="custom_field"
          [(ngModel)]="model.CUSTOM_FIELD"
          #custom_field="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && custom_field.invalid }"
          required
        />
        <div
          *ngIf="f.submitted && custom_field.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="custom_field.errors.required">Label name is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-blue mt-3">Submit</button>
      </div>
    </form>
  </div>
</div>
