<table id="printTable">
  <thead>
    <tr>
        <th> {{customColumnsName.PROJECT_NAME}} </th>
        <th> {{customColumnsName.PROJECT_STATE}} </th>
        <th> {{customColumnsName.TIMELINE_TYPE}} </th>
        <th> {{customColumnsName.START_DATE}} </th>
        <th> {{customColumnsName.END_DATE}} </th>
        <th> {{customColumnsName.PROJECT_EXECUTIVE}} </th>
        <th> {{customColumnsName.PROJECT_MANAGER}} </th>
        <th> {{customColumnsName.PROJECT_ROM}} </th>
        <th> {{customColumnsName.PROJECT_CITY}} </th>
        <th> {{customColumnsName.PROJECT_TYPE_ID}} </th>
        <th> {{customColumnsName.GROUP_NAME}} </th>
        <th> {{customColumnsName.DURATION}} </th>
    </tr>
  </thead>
	<tbody *ngIf="allProjectsData.length > 0">
    <tr *ngFor="let proejctData of allProjectsData">
        <td> {{proejctData.PROJECT_NAME}} </td>
        <td> {{proejctData.PROJECT_STATE}} </td>
        <td> {{proejctData.TIMELINE_TYPE}} </td>
        <td> {{proejctData.START_DATE}} </td>
        <td> {{proejctData.END_DATE}} </td>
        <td> {{proejctData.PROJECT_EXECUTIVE}} </td>
        <td> {{proejctData.PROJECT_MANAGER}} </td>
        <td> {{proejctData.PROJECT_ROM}} </td>
        <td> {{proejctData.PROJECT_CITY}} </td>
        <td> {{proejctData.PROJECT_TYPE_ID}} </td>
        <td> {{proejctData.GROUP_NAME}} </td>
        <td> {{proejctData.DURATION}} </td>
	</tr>
</tbody>
</table>