<!--<div class="row" id="projectAddForm">-->
    <!--<div class="col-lg-12" >-->

        <!--<div class="row my-1">-->
            <!--<h4 class="ml-3"><b>New Project Setup</b></h4>-->
        <!--</div>-->
        <!--<div class="wizard">-->
            <!--<div class="wizard-inner">-->
                <!--<ul class="nav nav-tabs" role="tablist">-->
                    <!--<li role="presentation" class="active">-->
                        <!--<a data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" aria-expanded="true" (click)="projectDetailForm();" >-->
                            <!--<span class="round-tab">-->
                                <!--<i class=" fa fa-user"></i>-->
                            <!--</span>-->
                            <!--<p class="team-text">Project Detail</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" [ngClass]="{'active': step == 2}">-->
                        <!--<a data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" aria-expanded="false" (click)="projectTeamForm();">-->
                            <!--<span class="round-tab">-->
                                <!--<i class="fa fa-users team-icon"></i>-->
                            <!--</span>-->
                            <!--<p class="team-text">Project Team</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="container-fluid col-md-7">-->
                <!--<div  *ngIf = "step == 1">-->
                    <!--<h6 class="ml-2 mt-2">Project Detail</h6>-->
                    <!--<form #projectForm="ngForm" novalidate class="example-wrapper px-2">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<label>Project Name:</label>-->
                                <!--<input kendoTextBox type="text" name="PROJECT_NAME" #PROJECT_NAME="ngModel"-->
                                       <!--[(ngModel)]="addProjectModel.PROJECT_NAME" required class="k-textbox" />-->
                                <!--<div *ngIf="PROJECT_NAME.invalid && (PROJECT_NAME.dirty || PROJECT_NAME.touched)"-->
                                    <!--class="form-invalid-message"  >-->
                                    <!--<div *ngIf="PROJECT_NAME.errors.required">-->
                                        <!--Please Enter Project Name-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<label>Project Status:</label>-->
                                <!--<kendo-dropdownlist-->
                                    <!--[data]="filteredProjectStatusList"-->
                                    <!--[textField]="'STATUS_NAME'"-->
                                    <!--[valueField]="'STATUS_ID'"-->
                                    <!--[filterable]="true"-->
                                    <!--name="PROJECT_STATUS"-->
                                    <!--required-->
                                    <!--#PROJECT_STATUS="ngModel"-->
                                    <!--[(ngModel)]="addProjectModel.PROJECT_STATUS"-->
                                    <!--(filterChange)="handleFilterChange($event, 'PROJECT_STATUS')">-->
                            <!--</kendo-dropdownlist>-->

                            <!--<div *ngIf="PROJECT_STATUS.invalid && (PROJECT_STATUS.dirty || PROJECT_STATUS.touched)" class="form-invalid-message">-->
                                <!--<div *ngIf="PROJECT_STATUS.errors.required">-->
                                    <!--Please Select Project Status.-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<label>Start Date:</label>-->
                            <!--<kendo-datepicker-->
                                <!--[(ngModel)]="addProjectModel.START_DATE"-->
                                <!--required-->
                                <!--name="START_DATE"-->
                                <!--#START_DATE="ngModel"-->
                                <!--required-->
                                <!--(valueChange)="handleValueChange($event, 'START_DATE')"-->
                                <!--&gt;</kendo-datepicker>-->
                            <!--<div *ngIf="errorStartDate.isError" class="form-invalid-message">-->
                                <!--{{ errorStartDate.errorMessage}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<label>End Date:</label>-->
                            <!--<kendo-datepicker-->
                                <!--[(ngModel)]="addProjectModel.END_DATE"-->
                                <!--required-->
                                <!--name="END_DATE"-->
                                <!--#END_DATE="ngModel"-->
                                <!--(valueChange)="handleValueChange($event, 'END_DATE')"-->
                                <!--&gt;</kendo-datepicker>-->
                            <!--<div *ngIf="errorEndDate.isError" class="form-invalid-message">-->
                                <!--{{ errorEndDate.errorMessage}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-8">-->
                            <!--<label>Office:</label>-->
                            <!--<kendo-dropdownlist-->
                                <!--[data]="filteredOfficeList"-->
                                <!--[textField]="'OFFICE_NAME'"-->
                                <!--[valueField]="'OFFICE_ID'"-->
                                <!--[filterable]="true"-->
                                <!--required-->
                                <!--name="OFFICE"-->
                                <!--#OFFICE="ngModel"-->
                                <!--[(ngModel)]="addProjectModel.OFFICE"-->
                                <!--(filterChange)="handleFilterChange($event, 'OFFICE')"-->
                                <!--(valueChange)="handleValueChange($event, 'OFFICE')">-->
                            <!--</kendo-dropdownlist>-->

                            <!--<div *ngIf="OFFICE.invalid && (OFFICE.dirty || OFFICE.touched)" class="form-invalid-message">-->
                                <!--<div *ngIf="OFFICE.errors.required">-->
                                    <!--Please Select Office Name-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<label>ROM (in $):</label>-->
                            <!--<kendo-numerictextbox-->
                                <!--name="ROM"-->
                                <!--#ROM="ngModel"-->
                                <!--[(ngModel)]="addProjectModel.ROM"  filter="numeric">-->
                            <!--</kendo-numerictextbox>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<label>Project Type:</label>-->
                            <!--<kendo-dropdownlist-->
                                <!--[data]="filteredProjectTypeList"-->
                                <!--[textField]="'TYPE_NAME'"-->
                                <!--[valueField]="'TYPE_ID'"-->
                                <!--[filterable]="true"-->
                                <!--name="PROJECT_TYPE"-->
                                <!--required-->
                                <!--#PROJECT_TYPE="ngModel"-->
                                <!--[(ngModel)]="addProjectModel.PROJECT_TYPE"-->
                                <!--(filterChange)="handleFilterChange($event, 'PROJECT_TYPE')">-->
                        <!--</kendo-dropdownlist>-->
                        <!--<div *ngIf="PROJECT_TYPE.invalid && (PROJECT_TYPE.dirty || PROJECT_TYPE.touched)" class="form-invalid-message">-->
                            <!--<div *ngIf="PROJECT_TYPE.errors.required">-->
                                <!--Please Select Project Type-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                        <!--<label>Client:</label>-->
                        <!--<kendo-dropdownlist-->
                            <!--[data]="filteredCustomerList"-->
                            <!--[textField]="'CUSTOMER_NAME'"-->
                            <!--[valueField]="'CUSTOMER_ID'"-->
                            <!--[filterable]="true"-->
                            <!--name="CUSTOMER"-->
                            <!--#CUSTOMER="ngModel"-->
                            <!--[(ngModel)]="addProjectModel.CUSTOMER"-->
                            <!--(filterChange)="handleFilterChange($event, 'CUSTOMER')"-->
                            <!--(valueChange)="handleValueChange($event, 'CUSTOMER')">-->
                        <!--</kendo-dropdownlist>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<label>Client Contact:</label>-->
                        <!--<input kendoTextBox type="text" name="CUSTOMER_CONTACT" #CUSTOMER_CONTACT="ngModel"-->
                               <!--[(ngModel)]="addProjectModel.CUSTOMER_CONTACT"-->
                               <!--class="k-textbox" readonly/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<label>Project Description:</label>-->
                        <!--<textarea kendoTextArea  name="PROJECT_DESCRIPTION"-->
                                  <!--#PROJECT_DESCRIPTION="ngModel"-->
                                  <!--[(ngModel)]="addProjectModel.PROJECT_DESCRIPTION"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div *ngIf = "step == 2">-->
            <!--<h6 class="ml-2 mt-2">Staff Assignments</h6>-->
            <!--<form [formGroup]="assignProjectForm" novalidate>-->
                <!--<table class="table project-assignment-table">-->
                    <!--<ng-container formArrayName="assignProjectData">-->
                        <!--<tr>-->
                            <!--<th></th>-->
                            <!--<th class="text-center">Staff Name</th>-->
                            <!--<th class="text-center">Project Role</th>-->
                            <!--<th class="text-center">Resume Submitted?</th>-->
                        <!--</tr>-->
                        <!--<tr *ngFor="let ctrl of assignProjectForm.get('assignProjectData')['controls']; let i = index" [formGroupName]="i">-->
                            <!--<td class="text-center w-100-px">-->
                                <!--<button *ngIf="i == (assignProjectForm.value.assignProjectData.length - 1)" (click)="addSecondListRow()" kendoButton [look]="'bare'"> <i class="fa fa-plus"></i> </button>-->
                                <!--<button (click)= "cancelAssignProjectData(ctrl,i);" class="active-color" [look]="'bare'" kendoButton> <i class="fa fa-times"></i></button>-->
                            <!--</td>-->
                            <!--<td class="text-center">-->
                        <!--<kendo-dropdownlist-->
                            <!--formControlName="STAFF_DETAIL"-->
                            <!--[data]="filteredPeopleList"-->
                            <!--[textField]="'STAFF_NAME'"-->
                            <!--[valueField]="'STAFF_ID'"-->
                            <!--[filterable]="true"-->
                            <!--(filterChange)="handleFilterChange($event, 'STAFF_DETAIL')"-->
                            <!--(valueChange)="handleValueChange($event, 'STAFF_DETAIL',i)">-->
                        <!--</kendo-dropdownlist>-->
                        <!--</td>-->
                        <!--<td class="text-center">-->
                        <!--<kendo-dropdownlist-->
                            <!--formControlName="ROLE_DETAIL"-->
                            <!--[data]="filteredRoleList"-->
                            <!--[textField]="'ROLE_NAME'"-->
                            <!--[valueField]="'ROLE_ID'"-->
                            <!--[filterable]="true"-->
                            <!--(filterChange)="handleFilterChange($event, 'ROLE_DETAIL')"-->
                            <!--(valueChange)="handleValueChange($event, 'ROLE_DETAIL',i)">-->
                        <!--</kendo-dropdownlist>-->
                        <!--<div *ngIf="assignProjectForm.get('assignProjectData')['controls'][i].get('ROLE_DETAIL').invalid  && (assignProjectForm.get('assignProjectData')['controls'][i].get('ROLE_DETAIL').touched || assignProjectForm.get('assignProjectData')['controls'][i].get('ROLE_DETAIL').dirty)" class="form-invalid-message">-->
                            <!--<div *ngIf="assignProjectForm.get('assignProjectData')['controls'][i].get('ROLE_DETAIL').errors.required">-->
                                <!--Please Select Project Division-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--</td>-->
                        <!--<td class="text-center w-100-px">-->
                        <!--<kendo-switch-->
                            <!--formControlName="RESUME_SUBMITTED"-->
                            <!--required-->
                            <!--[onLabel]="'Yes'"-->
                            <!--[offLabel]="'No'">-->
                    <!--</kendo-switch>-->
                    <!--</td>-->
                    <!--</tr>-->
                <!--</ng-container>-->
            <!--</table>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="row mt-3 mb-3">-->
        <!--<div class=" justify-content-end col-md-6">-->
            <!--<button kendoButton (click)="projectAddFormReset(true);" class="btn btn-custom mr-2"> Cancel </button>-->
            <!--<button *ngIf = "step != 1" kendoButton class="btn btn-custom mr-2"  (click)="projectDetailForm();"> Previous </button>-->
            <!--<button *ngIf = "step == 1" kendoButton class="btn btn-custom mr-2"  (click)="projectTeamForm();"> Next </button>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<button kendoButton type="submit" class="btn btn-custom float-right" (click)= "saveProjectDetail();">Submit</button>-->
        <!--</div>-->
    <!--</div>       -->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->
<!-- Modal: Add New Project -->
<div class="modal modal--white fade" id="modalNewProjectRole" tabindex="-1" role="dialog" aria-labelledby="modalNewProjectRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="title" id="modalNewProjectRoleTitle">Project Staffing Worksheet</h5>
                <form>
                    <div class="form-group">
                        <label for="projectRole">Project Role</label>
                        <select class="form-control form-control--gray" id="projectRole">
                            <option>Select</option>
                            <option>Assistant Superintendent</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 px-2">
                            <div class="form-group is-date-field">
                                <label for="projectRoleStartDate">Start Date</label>
                                <input type="text" class="form-control form-control--gray" id="projectRoleStartDate" placeholder="" />
                            </div>
                        </div>
                        <div class="col-lg-6 px-2">
                            <div class="form-group is-date-field">
                                <label for="projectRoleEndDate">End Date</label>
                                <input type="text" class="form-control form-control--gray" id="projectRoleEndDate" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="projectRoleAllocation">Allocation</label>
                        <input type="number" id="projectRoleAllocation" class="form-control form-control--gray" min="0" />
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label class="font-size-16">Resume Submitted?</label>
                            </div>
                            <div class="col-3">
                                <div class="radio-btn-holder radio-btn--toggle">
                                    <div class="radio-btn__item">
                                        <input type="radio" name="resumeSubmit" id="resumeNo" value="1" checked />
                                        <label for="resumeNo"></label>
                                    </div>
                                    <div class="radio-btn__item">
                                        <input type="radio" name="resumeSubmit" id="resumeYes" value="2" />
                                        <label for="resumeYes"></label>
                                    </div>
                                </div><!-- /.radio-btn-holder -->
                            </div>
                        </div>
                    </div>

                </form>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
