<main class="main-container">
    <div class="hero-content">
        <div class="page-subtitle" *ngIf="tableView == 1">
            <span> Project Log </span>
            <span class="page-subtitle__status">{{projectData.total}} Project</span>
        </div><!-- /.page-subtitle -->
        <div *ngIf="tableView == 2">
            <div class="page-subtitle clearfix">
                <!-- <span class="pull-right">
                    <a (click)="tableView = 1" title="Grid" class="btn btn-light-gray"><i class="fa fa-list"></i> 3</a>
                    <a (click)="tableView = 2;viewTimeLine()" title="Timeline" class="btn btn-light-gray"><i class="fa fa-line-chart"></i> 4</a>
                </span> -->
                Project Visual Timeline <span
                    class="page-subtitle__status">{{projectsForTimeline.length}} Project</span>
                <div class="project-legend text-lg-right">
                        <span class="d-inline-block mr-3">
                            <select class="form-control" [(ngModel)]="timelineStatus"
                                    (ngModelChange)="timeLineTypeChange($event)">
                                <option *ngFor="let level of timelineByType" [ngValue]="level">
                                    <span *ngIf="level == 'month'">Month</span>
                                    <span *ngIf="level == 'year'">Year</span>
                                    <span *ngIf="level == 'week'">Week</span>
                                </option>
                            </select>
                        </span>
                    <span class="project-legend__item">
                            <i class="fa fa-circle proposal-status-color"></i> Proposal</span>
                    <span class="project-legend__item">
                            <i class="fa fa-circle initiated-status-color"></i> Initiated</span>
                    <span class="project-legend__item">
                            <i class="fa fa-circle in-progress-status-color"></i> In Progress</span>
                    <span class="project-legend__item">
                            <i class="fa fa-circle completed-status-color"></i> Completed</span>
                    <span class="project-legend__item">
                            <i class="fa fa-circle close-status-color"></i> Closed</span>
                </div>
            </div>
        </div>

        <div class="filter-tag clearfix">
                <span *ngIf="tableView == 1" class="d-inline-block">
                    <a (click)="openAddProjectModal(addContent)" class="btn btn-add-green" title="Add Project"><i
                            class="fa fa-plus"></i></a>
                </span>

            <div class="filter-tag__wrapper">
                <span class="filter-tag__label">Viewing </span>
                <a class="btn filter-tag__item" *ngIf="viewDataByFilter.status"
                   (click)="model.status = null;onProjectFilterSubmit(undefined);">{{viewDataByFilter.status['STATUS_NAME']}}<i
                        class="icon-filter-remove"></i></a>
                <a class="btn filter-tag__item" *ngIf="viewDataByFilter.group"
                   (click)="model.group = null;onProjectFilterSubmit(undefined);">{{viewDataByFilter.group['GROUP_NAME']}}<i
                        class="icon-filter-remove"></i></a>
                <a class="btn filter-tag__item" *ngIf="viewDataByFilter.office"
                   (click)="model.office = null;onProjectFilterSubmit(undefined);">{{viewDataByFilter.office['OFFICE_NAME']}}<i
                        class="icon-filter-remove"></i></a>
                <a class="btn filter-tag__item"
                   *ngIf="viewDataByFilter.status || viewDataByFilter.group"
                   (click)="onClearProjectFilter()">Reset of All <i
                        class="icon-filter-remove"></i></a>
            </div>
            <div class="filter-tag__wrapper" *ngIf="displayProjectType !=null">
                <a class="btn filter-tag__item"
                   (click)="displayProjectType = null;initiateProjectList();">{{displayProjectType}}<i
                        class="icon-filter-remove"></i></a>
            </div>
            <div class="filter__right" [ngClass]="tableView == 2 ? 'mr-0':''">
                <a (click)="renderViews(1)" title="Grid" class="btn btn-light-gray"><i
                        [ngClass]="tableView == 1 ? 'icon-grid-selected':'icon-grid'"></i></a>
                <a (click)="renderViews(2)" title="Timeline"
                   class="btn btn-light-gray"><i
                        [ngClass]="tableView == 2 ? 'icon-timeline-selected':'icon-timeline'"></i></a>
                <div class="search-wrap">
                    <div class="search-wrap__inner">
                        <kendo-autocomplete [data]="typeAheadSuggestions"
                                            [filterable]="true"
                                            id="search"
                                            (valueChange)="valueChange($event)"
                                            (filterChange)="projectListByfilterChange($event)"
                                            [placeholder]="'Search'"
                                            [ngModel]="searchFilter" class="form-control">
                        </kendo-autocomplete>
                    </div>
                </div><!-- /.search-wrap-->

                <div class="filter__btn">
                    <div class="dropdown">
                        <button class="btn btn-light-gray is-filtered" type="button" id="dropdownFilter"
                                data-toggle="dropdown" (click)="filterMenuOpen = true" aria-haspopup="true"
                                aria-expanded="false" data-offset="0,20">
                            <i class="icon-filter"></i>
                        </button>
                        <div [hidden]="!filterMenuOpen" [ngClass]="filterMenuOpen ? 'show':''"
                             class=" dropdown-menu--white dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownFilter">
                            <form name="form" #projectFilterForm="ngForm">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <kendo-dropdownlist
                                            [data]="filterProjectStatusData"
                                            [textField]="'STATUS_NAME'"
                                            [valueField]="'STATUS_NAME'"
                                            [filterable]="true"
                                            name="status"
                                            id="status"
                                            class="form-control form-control--gray"
                                            #status="ngModel"
                                            [(ngModel)]="model.status"
                                            (filterChange)="handleFilterChange($event, 'STATUS')">
                                    </kendo-dropdownlist>
                                </div>

                                <div class="form-group">
                                    <label for="status">Office</label>
                                    <kendo-dropdownlist
                                            [data]="filteredOfficeList"
                                            [textField]="'OFFICE_NAME'"
                                            [valueField]="'OFFICE_ID'"
                                            [filterable]="true"
                                            name="office"
                                            id="assProjectCity"
                                            class="form-control form-control--gray"
                                            #office="ngModel"
                                            placeholder="select office.."
                                            [(ngModel)]="model.office"
                                            (filterChange)="handleFilterChange($event, 'OFFICE')">
                                    </kendo-dropdownlist>
                                </div>

                                <div class="form-group">
                                    <label for="group">Type of Project</label>
                                    <kendo-dropdownlist
                                            [data]="filterProjectGroupData"
                                            [textField]="'GROUP_NAME'"
                                            [valueField]="'GROUP_NAME'"
                                            [filterable]="true"
                                            name="group"
                                            id="group"
                                            class="form-control form-control--gray"
                                            #group="ngModel"
                                            [(ngModel)]="model.group"
                                            (filterChange)="handleFilterChange($event, 'GROUP')">
                                    </kendo-dropdownlist>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-blue w-50 mr-1" title="Apply"
                                            (click)="onProjectFilterSubmit('removeSearch')">Apply
                                    </button>
                                    <button class="btn btn-light-gray w-50 ml-1" title="Clear All"
                                            (click)="onClearProjectFilter()">Clear All
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--<a (click)="tableView = 1" title="Grid" class="btn btn-light-gray"><i class="fa fa-list"></i></a>-->
                <!--<a (click)="tableView = 2;viewTimeLine()" title="Timeline" class="btn btn-light-gray"><i class="fa fa-line-chart"></i></a>-->

            </div><!-- /.filter__right -->
        </div><!-- /.filter-tag -->

        <!-- <div class="filter d-lg-flex justify-content-between">
            <div class="filter__left mb-3 mb-lg-0">

            </div>
        </div> -->

        <div class="table-responsive hide-scroll" *ngIf="tableView == 1">
            <table class="table table--default td-overflow-visible" id="print-section">
                <kendo-grid
                        class="position-static"
                        [data]="projectData"
                        [loading]="showLoader"
                        [sortable]="true"
                        [sort]="configs.sort"
                        [resizable]="true"
                        [reorderable]="true"
                        [selectable]="true"
                        (dataStateChange)="dataStateChange($event)"
                        (detailExpand)="rowExpand($event)">
                    <ng-template kendoGridToolbarTemplate>
                        <button kendoGridPDFCommand class="btn btn-light-gray"><i class="icon-download"></i></button>
                        <button kendoGridExcelCommand class="btn btn-light-gray" type="button"><i
                                class="icon-excel"></i></button>
                    </ng-template>
                    <!-- <kendo-grid-column width="100"> -->
                    <kendo-grid-column>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                            <div class="dropdown-project-modify">
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownProject1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" data-offset="-20,15">
                                        <i class="icon-three-dot"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--white" aria-labelledby="dropdownProject1">
                                        <ul class="project-modify__list">
                                            <li class="project-modify__item">
                                                <a (click)="openVerticallyCentered(content,dataItem,2)"
                                                   class="js-project-panel"
                                                   title="Project Role: Add or Edit roles for project">
                                                    Project Role<span
                                                        class="text-label">Add or Edit roles for Project</span>
                                                </a>
                                            </li>
                                            <li class="project-modify__item">
                                                <a (click)="openVerticallyCentered(content,dataItem,3)"
                                                   class="js-project-panel"
                                                   title="Project Team: Assign or Edit Staff on Project">
                                                    Project Team<span
                                                        class="text-label">Assign or Edit Staff on Project</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                            field="{{column.columnId}}"
                            title="{{column.columnLabel}}"
                            width="150"
                            *ngFor="let column of projectColumns">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'PROJECT_NAME'">
                            <button type="button" class="btn btn-link btn-popover-link"
                                    (click)="openVerticallyCentered(content,dataItem,4)" container="body"
                                    placement="right-top" appHandlePopoverClose>
                                <b><span class="td-highlighted"> {{dataItem['PROJECT_NAME']}}</span></b><br>
                                <span> {{dataItem.PROJECT_CITY}}</span><span *ngIf="dataItem.PROJECT_STATE">{{',' + dataItem.PROJECT_STATE}} </span>
                            </button>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'DATES'">
                            <span class='grid-date'>{{dataItem['START_DATE'] | date:date_format}} - {{dataItem['END_DATE']| date:date_format}}</span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'PROJECT_ROM'">
                            <span> {{dataItem[column.columnId]}} </span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                     *ngIf="column.columnId == 'DURATION'">

                            <div *ngIf="dataItem.PROGRESS_DAYS != null;else duration">
                                <span class="label-duration">
                                    {{dataItem[column.columnId]}} 
                                    <span class="total-per">{{dataItem.PROGRESS_DAYS}}</span>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         [ngStyle]="{'width': dataItem.PROGRESS_DAYS}"
                                    ></div>
                                </div>
                            </div>

                            <ng-template #duration>
                                <span>
                                    {{dataItem[column.columnId]}}
                                </span>
                            </ng-template>
                            <span *ngIf="dataItem.DURATION == ''">0 Days</span>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-pdf fileName="Projects.pdf" [scale]="0.8" [repeatHeaders]="true">
                        <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="Projects.xlsx" [fetchData]="allData"></kendo-grid-excel>
                    <!--<div *kendoGridDetailTemplate="let dataItem">-->
                    <!--<app-project-view-staff-details-grid-->
                    <!--[projectInstance]="dataItem"></app-project-view-staff-details-grid>-->
                    <!--</div>-->
                </kendo-grid>
            </table>
        </div>

        <!-- <div class="table-responsive hide-scroll-timeline" *ngIf="tableView == 2" [ngStyle]="{'height': viewPortHeight + 'px'}"> -->
        <div class="table-responsive hide-scroll-timeline" *ngIf="tableView == 2">            
            <table class="table table--default">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="text-nowrap" *ngFor="let type of timeLineHeader">
                        <span *ngIf="timelineStatus == 'week'">{{type['month']}}' {{type['year']}}<br>{{type['week']}}</span>
                        <span *ngIf="timelineStatus == 'month'">{{type['timelineByMonth']}}' {{type['timelineByYear']}}</span>
                        <span *ngIf="timelineStatus == 'year'">{{type['timelineByOnlyYear']}}</span>
                    </th>
                </tr>
                </thead>
                <tbody *ngIf="projectsForTimeline.length > 0; else noRecord">
                <tr *ngFor="let project of projectsForTimeline">
                    <td>
                        <div class="w-250">
                                <span class="td-highlighted d-block mb-2">
                                    <button type="button" class="btn btn-link btn-popover-link"
                                            (click)="openVerticallyCentered(content,project,4)" container="body"
                                            placement="right-top">
                                        <span class="td-highlighted">{{project.PROJECT_NAME}}  </span>
                                    </button>
                                </span>
                            <span class="d-block mb-1">
                                    <span *ngIf="project.PROJECT_CITY; else notAvailable"><i
                                            class="icon-mappin small"></i> {{project.PROJECT_CITY}}</span>
                                    <ng-template #notAvailable>
                                        <i class="icon-mappin small"></i> NA
                                    </ng-template>
                                </span>
                            <span class="d-block mb-1">Client:
                                    <span *ngIf="project.CUSTOMERS_DATA && project.CUSTOMERS_DATA.CUSTOMER_NAME; else notAvailableCustomer">{{project.CUSTOMERS_DATA.CUSTOMER_NAME}}</span>
                                    <ng-template #notAvailableCustomer>
                                        NA
                                    </ng-template>
                                </span>
                        </div>
                    </td>
                    <td class="align-middle"><span
                            class="td-highlighted">{{project.START_DATE| date: date_format}}</span></td>
                    <td class="align-middle"><span class="td-highlighted">{{project.END_DATE| date: date_format}}</span>
                    </td>
                    <ng-container *ngIf="timelineStatus == 'week'">
                        <td class="no-padding align-middle" *ngFor="let data of timeLineData['week']">
                            <div *ngIf="project['week' + data] != undefined" class="field-exists mt-0"
                                 placement="bottom" [ngbTooltip]="projectDetailTooltip"
                                 [ngClass]="project.STATUS_NAME=='Proposal' ? 'proposal-status' : ( project.STATUS_NAME=='In Progress' ? 'in-progress-status' :(project.STATUS_NAME == 'Completed'?'completed-status':(project.STATUS_NAME == 'Initiated'?'initiated-status':'close-status')))">
                                <ng-template #projectDetailTooltip>
                                    <div class="font-weight-bold text-body">{{project.PROJECT_NAME}}</div>
                                    <div class="">Start Date: {{project.START_DATE| date: date_format}}</div>
                                    <div class="">End Date: {{project.END_DATE| date: date_format}}</div>
                                    <div class="">Type: {{project.TYPE_NAME}}</div>
                                    <div class="">Duration: {{project.DURATION}}</div>
                                </ng-template>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="timelineStatus == 'month'">
                        <td class="no-padding align-middle" *ngFor="let data of timeLineData['month']">
                            <div *ngIf="project['month' + data] !== undefined"
                                 class="field-exists m-t0"
                                 placement="bottom" [ngbTooltip]="projectDetailTooltip"
                                 [ngClass]="project.STATUS_NAME=='Proposal' ? 'proposal-status' : ( project.STATUS_NAME=='In Progress' ? 'in-progress-status' :(project.STATUS_NAME == 'Completed'?'completed-status':(project.STATUS_NAME == 'Initiated'?'initiated-status':'close-status')))">
                                <ng-template #projectDetailTooltip>
                                    <div class="font-weight-bold text-body">{{project.PROJECT_NAME}}</div>
                                    <div class="">Start Date: {{project.START_DATE| date: date_format}}</div>
                                    <div class="">End Date: {{project.END_DATE| date: date_format}}</div>
                                    <div class="">Type: {{project.TYPE_NAME}}</div>
                                    <div class="">Duration: {{project.DURATION}}</div>
                                </ng-template>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="timelineStatus == 'year'">
                        <td class="no-padding align-middle" *ngFor="let data of timeLineData['year']">
                            <div *ngIf="project['year' + data] !== undefined"
                                 class="field-exists mt-0"
                                 placement="bottom" [ngbTooltip]="projectDetailTooltip"
                                 [ngClass]="project.STATUS_NAME=='Proposal' ? 'proposal-status' : ( project.STATUS_NAME=='In Progress' ? 'in-progress-status' :(project.STATUS_NAME == 'Completed'?'completed-status':(project.STATUS_NAME == 'Initiated'?'initiated-status':'close-status')))">
                                <ng-template #projectDetailTooltip>
                                    <div class="font-weight-bold text-body">{{project.PROJECT_NAME}}</div>
                                    <div class="">Start Date: {{project.START_DATE| date: date_format}}</div>
                                    <div class="">End Date: {{project.END_DATE| date: date_format}}</div>
                                    <div class="">Type: {{project.TYPE_NAME}}</div>
                                    <div class="">Duration: {{project.DURATION}}</div>
                                </ng-template>
                            </div>
                        </td>
                    </ng-container>

                </tr>
                </tbody>
                <ng-template #noRecord>
                    <tbody>
                    <div>
                        No record found
                    </div>
                    </tbody>
                </ng-template>

            </table>
        </div>
        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
    </div>
</main>
<ng-template #addContent>
    <app-project-view-staff-detail-popover (childDeleteEvent)="childDeleteEvent($event)" [addForm]="1">
    </app-project-view-staff-detail-popover>
</ng-template>
<ng-template #content>
    <app-project-view-staff-detail-popover (childDeleteEvent)="childDeleteEvent($event)"
                                           [projectInstance]="selectedProject" [renderTable]="renderTable"
                                           [addForm]="tabStatus">
    </app-project-view-staff-detail-popover>
</ng-template>

<!--<ng-template #printProjectData>-->
    <!--<app-print [customColumnsName]="columnData" [allProjectsData]="allProjectsData"></app-print>-->
<!--</ng-template>-->