<div class="row">
    <div class="col-lg-11 offset-lg-1">
        <h3 class="page-subtitle p-0 pt-lg-4 pt-3">Add access rights</h3>
        <div class="form-group">
            <div *ngIf="accessTypes">
                <div class="checkbox-btn-holder">
                    <span *ngFor="let type of accessTypes" class="checkbox-btn__item d-block mr-0 mb-2">
                        <input type="checkbox" id="chkbox{{type.ID}}" value="{{type.ID}}" name="{{type.ID}}" (change)="updateSelectedTimeslots($event)" [checked]="isItemSelected(type)"/>
                        <label class="checkbox-btn__text" for="chkbox{{type.ID}}">{{type.TYPE}}</label>

                    <!-- <label class="container">{{type.TYPE}}
                        <input type="checkbox" value="{{type.ID}}" name="{{type.ID}}"
                               (change)="updateSelectedTimeslots($event)" [checked]="isItemSelected(type)"/>
                          <span class="checkmark"></span><br/>
                    </label><br/> -->

                    </span>

                </div>

                <button (click)="submit()" class="btn btn-blue mt-3">Submit</button>
            </div>
        </div>
    </div>
</div>

