{
  "host": "MASTER_DB_HOST",
  "user": "MASTER_DB_USER",
  "password": "MASTER_DB_PASSWORD",
  "port": 3306,
  "database": "MASTER_DB",
  "name": "ENVIRONMENT_NAME",
  "companyName": "COMPANY_NAME",
  "domainCheck": "DOMAIN_CHECK",
  "dateStrings": true,
  "aws": {
    "accessKeyId": "API_AWS_ACCESS_KEY_ID",
    "secretAccessKey": "API_AWS_SECRET_ACCESS_KEY",
    "region": "AWS_DEFAULT_REGION",
    "bucket": "AWS_S3_PROFILE_BUCKET"
  }
}