

.staff-add-form .row {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.staff-add-form {
    background: #FFFFFF;
    padding: 30px 20px 10px;
}
#staffAdd .form-invalid-message{
    color: red;
    /* font-size: .8em;
    margin-top: .5em; */
}

/* #staffAdd label{
    display: block;
    margin: .8em 0 .2em;
    font-size:  13px;
} */

#staffAdd input,
#staffAdd textarea,
#staffAdd .k-dropdown,
#staffAdd .k-datepicker,
#staffAdd .k-numerictextbox{
    width: 100%;
}

#staffAdd .project-assignment-table th,
#staffAdd .project-assignment-table td{
    padding: 5px;
    font-size: 13px;
}

#staffAdd .project-assignment-table th{
    border-top: none;
}

.data-heading{
    font-size: 15px;
}

.full-width{
    width: 100%;
}

.comment-textarea{
    height: 75px;
}

.divider{
    border-right: 1px solid #e0e0e0;
}

textarea:disabled{
    opacity: .6;
}

/* label.light-header{
    margin-bottom: 3px;
} */

.staff-member-detail .avtar {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
}


.staff-add-form .staff-member-detail {
    padding-left: 135px;
    width: 135px;
    height: 135px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .staff-add-form {
        padding: 20px 0 0 0;
    }
}