files:
  /etc/filebeat/filebeat.yml:
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.modules:
      - module: kibana
        # All logs
        log:
          enabled: true
      - module: nginx
        # Access logs
        access:
          enabled: true
      filebeat.inputs:
      - type: log
        enabled: true
        paths:
          - /var/log/nginx/*.log
          - /var/log/nodejs/*.log
      output.elasticsearch:
        enabled: true
        hosts: ["https://search-api-logs-sbiagyunywx5bmcihfwke4npqm.us-west-1.es.amazonaws.com:443"]
        protocol: "https"
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.2.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -Uvh --replacepkgs filebeat-6.2.0-x86_64.rpm --force"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat start"
