files:
  /etc/filebeat/filebeat.yml:
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.inputs:
      - type: log
        enabled: true
        paths:
          - /var/log/nginx/*.log
          - /var/log/nodejs/*.log
      output.elasticsearch:
        enabled: true
        hosts: ["https://search-log-api-rm27q7vdmnargnpm53bror3llq.us-west-1.es.amazonaws.com:443"]
        protocol: "https"
        username: "staffplan"
        password: "$wqW49!*"
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-oss-6.7.2-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-oss-6.7.2-x86_64.rpm --force"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat start"
